<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Add new vehicle</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="vehicle-type">Vehicle Type</label>
                    <select id="new-vehicle-type" name="vehicle-type" class="form-control">
                        {{#each types}}
                            <option value="{{type}}">{{type}}</option>
                        {{/each}}
                    </select>                    
                </div>
                <div class="form-group">
                    <label for="fuel-type">Fuel Type</label>
                    <select id="new-vehicle-fuel-type" name="fuel-type" class="form-control">                        
                        {{#each fuelTypes}}
                            <option value="{{fuelType}}">{{fuelType}}</option>>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="make">Make</label>
                    <input type="text" id="new-vehicle-make" name="make" class="form-control" data-validation="length alphanumeric required" data-validation-length="min2" />
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" id="new-vehicle-model" name="model" class="form-control" data-validation="length alphanumeric required" data-validation-length="min2" />
                </div>
                <div class="form-group">
                    <label for="year">Year of first registration</label>
                    <input type="text" id="new-vehicle-year" name="year" class="form-control" data-validation="date" data-validation-format="yyyy" />
                </div>
                <div class="form-group">
                    <label for="hp">HP</label>
                    <input type="text" id="new-vehicle-hp" name="hp" class="form-control" data-validation="number" data-validation-allowing="range[0;1000]" />
                </div>
                <div class="form-group">
                    <label for="price">Price <span class="label label-success">EUR</span></label>
                    <input type="text" id="new-vehicle-price" name="price" class="form-control" data-validation="number" data-validation-allowing="range[0;1000000000]" />
                </div>
                {{#if type}}
                    <div class="form-group">
                        <label for="type">Motorcycle Type: </label>
                        <input type="text" id="new-vehicle-type" name="type" class="form-control" data-validation="length alphanumeric" data-validation-length="min2" />
                    </div>
                {{/if}}
                {{#if axes}}
                    <div class="form-group">
                        <label for="axes">Truck axes: </label>
                        <input type="text" id="new-vehicle-axes" name="axes" class="form-control" data-validation="number" data-validation-allowing="range[2;10]" />
                    </div>
                {{/if}}
                {{#if seats}}
                    <div class="form-group">
                        <label for="seats">Bus seats: </label>
                        <input type="text" id="new-vehicle-type" name="seats" class="form-control" data-validation="number" data-validation-allowing="range[1;100]" />
                    </div>
                {{/if}}
                <div class="form-group">
                    <form>
                        <input id="new-vehicle-image-file" type="file" name="file" accept="image/*" />
                    </form>            
                </div>
                <div class="form-group">
                    <textarea id="new-vehicle-info" class="span6" rows="3" placeholder="Vehicle detailed info..."></textarea>
                </div>
                <div class="form-group">
                    <button id="btnAddVehicle" type="submit" class="btn btn-info btn-block">Add Vehicle</button>
                </div>                
            </form>
        </div>
    </div>
</div>
<script>
  $.validate({
    lang: 'en'
  });
</script>