{{#each contacts}}
    <div class="panel panel-info">
        <div class="panel-body">{{name}}</div>
        <div class="panel-footer">
            <a href="{{github}}">{{github}}</a>
        </div>
    </div>
{{/each}}