<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Make</label>
    <div class="col-10">
        <input class="form-control" type="text" value="{{_make}}" id="make-input" data-validation="length alphanumeric required" data-validation-length="min2" />
    </div>
</div>
<div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Model</label>
    <div class="col-10">
        <input class="form-control" type="text" value="{{_model}}" id="model-input" data-validation="length alphanumeric required" data-validation-length="min2" />
    </div>
</div>
<div class="form-group row">
    <label for="example-price-input" class="col-2 col-form-label">Price</label>
    <div class="col-10">
        <input class="form-control" type="text" value="{{_price}}" id="price-input" data-validation="number" data-validation-allowing="range[0;1000000000]" />
    </div>
</div>

<button type="button" class="btn btn-success" id="btn-Edit">Edit</button>
<button type="button" class="btn btn-danger" id="btn-Back">Back</button>

<script>
  $.validate({
    lang: 'en'
  });
</script>