<h1>
    Welcome to our homepage
        {{#if username}}
            <span>, {{username}}<span>
        {{/if}}
</h1>
<div id="">
    <img src="../images/manycars.png" alt="" style="width: 100%;height: 100%">
</div>