<div class="container register">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <h2>Create account</h2>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupName">Your name</label>
                        <input id="signupName" type="text" maxlength="50" class="form-control" data-validation="length alphanumeric required" data-validation-length="min4">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmail">Email</label>
                        <input id="signupEmail" type="email" name="user-email" maxlength="50" class="form-control" data-validation="email required" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupEmailagain">Email again</label>
                        <input id="signupEmailagain" type="email" maxlength="50" class="form-control" data-validation="confirmation" data-validation-confirm="user-email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupPassword">Password</label>
                        <input id="signupPassword" type="password" name="pass_confirmation" maxlength="25" class="form-control" placeholder="" length="40" data-validation="length" data-validation-length="min4" required >
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="signupPasswordagain">Password again</label>
                        <input id="signupPasswordagain" type="password" name="pass" maxlength="25" class="form-control" data-validation="confirmation"  required>
                    </div>
                    <div class="form-group">
                        <button id="btnRegister" type="submit" class="btn btn-info btn-block">Create your account</button>
                    </div>
                    <p></p>Already have an account? <a href="#/Login">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
  $.validate({
    lang: 'en'
  });
</script>